{{- if (.Param "ShowBreadCrumbs") -}}
<div class="breadcrumbs">
    {{- $homePage := site.Home }}
    {{- if eq site.Language.Lang "fr" }}
        {{- $homePages := where site.AllPages "Permalink" (printf "%sfr/" site.BaseURL) }}
        {{- $homePage = index $homePages 0 }}
    {{- end }}
    {{- $homeURL := $homePage.Permalink }}
    <a href="{{ $homeURL }}">{{ i18n "home" | default "Home" }}</a>
    {{- $parent := .Parent -}}
    {{- if and $parent (ne $parent.RelPermalink .Site.Home.RelPermalink) -}}
    &nbsp;»&nbsp;<a href="{{ $parent.RelPermalink }}">{{ $parent.Name }}</a>
    {{- end -}}
    {{- if not .IsSection -}}
    &nbsp;»&nbsp;<span>{{ .Title }}</span>
    {{- end -}}
</div>
{{- end -}}
